{% load static %}
<html>
    <head>
        <title>Pablo App</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{% static 'css/js/votacion.js' %}">
    </head>
    <body >
        <form action="">
            {% csrf_token %}
        </form>
        
        <div class="page-header">
            {% if user.is_authenticated %}
            <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
            {% endif %}
            <img src="{% static 'css/img/icon.jpg' %}" alt="Descripción de la imagen" class="logo-img">
            <h1><a href="/">Forum Romanum</a></h1>
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
        <script>
            $(document).ready(function() {

console.log("cargado");
$('.toggle-favorite').click(function(e) {
    e.preventDefault();
    var postId = $(this).data('post-id');
    var favorited = $(this).data('favorited');
    var csrfToken = $('input[name="csrfmiddlewaretoken"]').val();
    $.ajax({
        type: 'POST',
        url: '/toggle_favorite/' + postId + '/',
        data: {
            'csrfmiddlewaretoken': csrfToken, // Usar el token CSRF
        },
        success: function(data) {
            if (data.favorited) {
                $('.toggle-favorite[data-post-id="' + postId + '"]').text('Remove from Favorites');
            } else {
                $('.toggle-favorite[data-post-id="' + postId + '"]').text('Add to Favorites');
            }
        },
        error: function(xhr, textStatus, errorThrown) {
            console.log('Error:', errorThrown);
        }
    });
});
});
        </script>
    </body>
</html>
