{% extends 'blog/base.html' %}
{% block content %}
    <div class="post">
        {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
            </div>
        {% endif %}
        <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}">
            <span class="glyphicon glyphicon-pencil"></span>
        </a>
        <h2>{{ post.title }}</h2>
        <p>{{ post.text|linebreaksbr }}</p>
       
    </div>
    <!-- Bloque de comentarios -->
    <div class="comments">
        <h3>Comments</h3>
        {% for comment in comments %}
            <div class="comment">
                <p>{{ comment.author }} ({{ comment.created_date }}): {{ comment.text }}</p>
            </div>
        {% empty %}
            <p>No comments yet.</p>
        {% endfor %}

        <!-- Formulario para agregar comentarios -->
        <h3>Add a comment</h3>
        <form method="post" action="{% url 'add_comment_to_post' pk=post.pk %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_author">Your name:</label>
                <input class="form-control" id="id_author" name="author" required>
            </div>
            <div class="form-group">
                <label for="id_text">Comment:</label>
                <textarea class="form-control" id="id_text" name="text" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
{% endblock %}
