/* Estilos Generales */
body {
    background-color: #d2b48c; /* Color de fondo inspirado en arcilla */
    font-family: 'Lobster', cursive; /* Fuente con estilo antiguo */
}

.page-header {
    background-color: #8b4513; /* Color de fondo del encabezado - Marrón oscuro */
    color: #fff; /* Color del texto del encabezado */
    padding: 20px;
    text-align: center;
    border-bottom: 3px solid #6b4226; /* Línea divisoria */
}

.page-header h1 a {
    color: #fff; /* Color del enlace en el encabezado */
    text-decoration: none; /* Quita la subrayado del enlace */
}

.content {
    margin-top: 20px;
}

/* Estilos para el logo */
.logo-img {
    width: 100px; /* Tamaño del logo */
    height: 100px;
    border-radius: 50%; /* Forma circular */
    margin-right: 20px;
}

/* Animación para el logo */
.logo-img:hover {
    transform: rotate(360deg); /* Rotación completa al pasar el ratón */
    transition: transform 1s ease-in-out; /* Transición suave */
}

/* Estilos para el botón de añadir nuevo post */
.top-menu {
    float: right; /* Mueve el botón a la derecha */
    margin-top: 10px;
    color: #fff;
}

/* Estilos para el contenido de la publicación */
.col-md-8 {
    background-color: #eedd82; /* Color de fondo del contenido - Amarillo oscuro */
    padding: 20px;
    border-radius: 10px;
}

/* Animación para el contenido de la publicación */
.col-md-8:hover {
    transform: scale(1.05); /* Aumenta ligeramente el tamaño al pasar el ratón */
    transition: transform 0.5s ease-in-out; /* Transición suave */
}




/* Estilos para los botones estilo romano */
.btn-roman {
    background-color: #8b4513; /* Marrón oscuro */
    color: #fff; /* Color del texto */
    border: none;
    padding: 8px 15px; /* Aumentar ligeramente el padding */
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-container {
    margin-top: 10px; /* Espacio entre los botones y el contenido */
}

/* Estilos para el botón "Editar" */
.btn-container form:first-child button {
    margin-right: 10px; /* Añadir margen derecho */
}


